* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", system-ui;
}

/* Header Start */
.header .userlogin-button {
  background-color: #9c54ff;
  color: #e4cfff;
  font-size: 24px;
  font-family: "Kanit", system-ui;
}

.header .userlogin-button-large {
  background-color: #9c54ff;
  color: #e4cfff;
  font-size: 20px;
  font-family: "Kanit", system-ui;
}

.header .userlogin-button-large:hover {
  border: 2px solid #9c54ff;
  background-color: #fff;
  color: #9c54ff;
  font-size: 20px;
  font-family: "Kanit", system-ui;
}

@media screen and (max-width: 380px) and (min-width: 320px) {
  .header-logo {
    max-width: 150px;
  }
  .navbar-toggler .button {
    max-width: 150px;
  }
  .button {
    max-width: 200px;
  }
}

.icon-input {
  position: absolute;
  left: 10px;
  color: #9c54ff;
}

.search-input {
  height: 50px;
  padding-left: 35px;
  border: 1px solid #9c54ff;
  border-radius: 20px !important;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
  width: 800px;
}

.search-input-large {
  height: 50px;
  padding-left: 35px;
  border: 1px solid #9c54ff;
  border-radius: 20px !important;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
  width: 900px;
}

@media (min-width: 320px) {
  .search-input {
    width: 400px;
  }
}

@media (min-width: 320px) {
  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .header .userlogin-button {
    font-size: 12px;
  }

  .header .userlogin-button:hover {
    font-size: 12px;
    border: 2px solid #9c54ff;
    background-color: #fff;
    color: #9c54ff;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .header .userlogin-button {
    font-size: 14px;
  }

  .header .userlogin-button:hover {
    font-size: 14px;
    border: 2px solid #9c54ff;
    background-color: #fff;
    color: #9c54ff;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .header .userlogin-button {
    font-size: 15px;
  }

  .header .userlogin-button:hover {
    font-size: 15px;
    border: 2px solid #9c54ff;
    background-color: #fff;
    color: #9c54ff;
  }
}

.search-button {
  background-color: #9c54ff;
  height: 50px;
  display: flex;
}

.search-button:hover {
  background-color: #9c54ff;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .navbar-collapse .input-wrapper {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .navbar-nav .nav-item {
    width: 100%;
  }

  .navbar-nav .nav-item input {
    width: 100%;
  }
}

/* Header End  */

/* Footer Start  */
footer {
  background-color: #9c54ff !important;
  padding: 20px 0;
}

.footer-logo {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
.social-icons a {
  color: #fff;
}

footer .list-unstyled {
  padding-left: 0;
  list-style: none;
}

footer .list-unstyled li a {
  font-size: 14px;
}

footer hr {
  border-top: 1px solid #dee2e6;
}

@media (max-width: 920px) {
  .footer {
    text-align: center;
  }
}

/* Footer End  */

/* Category & Banner Start  */

.categorySection {
  margin-bottom: 1rem;
}

.categoryIcons {
  margin-top: 130px;
}

@media screen and (max-width: 320px) {
  .categoryIcons {
    margin-top: 100px;
  }
}

.categoryTitle {
  color: #000000;
  font-weight: 300;
  text-align: center;
  font-family: "Kanit", sans-serif !important;
}

.img-container {
  width: 35px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.col-custom {
  flex: 0 0 12.5%;
  max-width: 12.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media (min-width: 992px) {
  .col-custom {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}

@media (max-width: 991.98px) {
  .col-custom {
    flex: 0 0 16.66%;
    max-width: 16.66%;
  }

  .img-container {
    width: 40px;
    height: 50px;
  }

  .categorySection {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .col-custom {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .img-container {
    width: 40px;
    height: 50px;
  }

  .categoryTitle {
    font-size: 13px;
  }
}

@media (max-width: 433px) {
  .img-container {
    width: 35px;
    height: 40px;
  }

  .categoryTitle {
    font-size: 10px;
  }

  .categorySection {
    margin-bottom: 1rem;
  }
}

.slider-content {
  padding: 20px 45px !important;
  cursor: pointer !important;
}

@media screen and (max-width: 430px) {
  .slider-content {
    padding: 0 !important;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .slider-content {
    padding: 0 !important;
  }
}

.carousel-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.carousel-slide img {
  min-width: 100%;
  height: auto;
}

@media (min-width: 2500px) {
  .carousel-container {
    max-width: 2500px;
  }

  .carousel-slide {
    justify-content: center;
  }
}

.carousel_slider .item {
  text-align: center;
  border-radius: 8px;
}

.item .banner_image {
  text-align: center !important;
  width: 80%;
}

/* @media screen and (max-width: 992px) and (min-width: 320px) {
  .carousel_slider .item .banner_image {
    border-radius: 12px !important;
    width: 100%;
}
} */

@media screen and (max-width: 992px) {
  .carousel_slider .item .banner_image {
      border-radius: 12px !important;
      /* width: 100%; */
  }
}

@media screen and (max-width: 768px) {
  .carousel_slider .item .banner_image {
    /* width: 100% !important; */
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .carousel_slider .item .banner_image {
    border-radius: 12px !important;
    /* width: 100%; */
  }
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-nav .owl-prev {
  left: 0;
}

.owl-nav .owl-next {
  right: 0;
}
.owl-dots {
  position: relative;
  top: -3rem !important;
}
@media (min-width: 320px) {
  .owl-dots {
    position: relative;
    top: -2rem;
    font-size: smaller !important;
  }
}

/* Category & Banner End  */

/* App & PlayStore Start */

.app-store-btn {
  border: none;
  background: #9c54ff;
  border-radius: 5px;
  padding: 10px 14px;
  color: #fff;
  font-size: small;
}

/* App & PlayStore End */

/* Product Card Start  */
.topCard {
  position: relative;
  overflow: hidden;
  transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.topCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #9c54ff;
  cursor: pointer;
}
.sub_topCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #9c54ff;
  cursor: pointer;
}

.topCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.trending-badge {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 6rem;
  background-color: #9c54ff;
  color: white;
  z-index: 2;
  border: 1px solid #9c54ff;
  font-weight: 400;
}

.content-badge {
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: white;
  z-index: 2;
  font-weight: 600;
}
.card-img-top {
  border-radius: 5px;
}
.card-img-top1 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card_section {
  padding: 0px;
}

/* Product Card End  */
